h1{
    color:rgb(39, 183, 231);
background-color:blueviolet
}
 
 


.dem{
    background-color:#333;
    color:#4f4;
    border: 5px rgb(49, 1, 1) solid;
    border-width:5px;
    padding-top:1px;
    margin:5;
}

                                                                                                                                                                                                             